* {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

html, body {
  height: 100%;
  width: 100%;
}

header, main, footer { position: fixed; }

header, footer {
  background: #2b2b2b;
  color: #ebf6f7;
  font-family: Overpass, sans-serif;
  padding: 15px;
  width: 100%;
}

header {
  top: 0;
  height: 30px;
}

main {
  top: 60px;
  bottom: 150px;
  width: 100%;
}

main webview {
  height: 100%;
  width: 100%;
}

footer {
  bottom: 0;
  height: 120px;
}
